*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box; 
}

html
body{
  font-family:'General Sans', sans-serif;
  font-style: normal;
  color: #000000;
  background: #F7F7F7;
  height: 100%;
 }
h1,h2,h3,p, li,ul{
  margin:0;
}
a{
  text-decoration: none;
}
button{
  border: 0;
  cursor: pointer;
 }
button,
a{
  font-family: inherit;
  color: inherit;
  outline: none;
}
address{
  padding-top: 20px;
}
.header {
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* High z-index to keep it above other content */
  background: #F7F7F7;
}

/* Add top padding to the body equal to the header height */
/* Adjust '70px' to the actual height of your header */
body {
  padding-top: 70px;
}

/* Style for offsetting anchor targets */
.anchor-offset::before {
  content: '';
  display: block;
  height: 70px; /* same as fixed header height */
  margin: -70px 0 0; /* negative value of fixed header height */
}

/* Apply 'anchor-offset' class to each section that is a target for anchor links */
/* .bg_section, .block_about, .serv_section {
  position: relative;
} */
.mob-container{
    display: none;
}
.main-container{
	padding-left:20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
	box-sizing: border-box;
}
.logo {
  width: 30%;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #121F66;
  text-align: center;
}
.logo_img{
  width: 160px;
}
.navigation-menu{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.list{
  display: flex;
  justify-content: space-around;
}
.item{
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}
.item-menu{
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  cursor: pointer;
  text-transform: uppercase;
  color: #353232;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 4s;
}
.active{
  color:#578cc6;
}
.active::after{  
  content: ""; 
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;;
  border-radius: 2px;
  bottom:-10px;
  right: 0px;
  color: #2196F3;
}
.item-menu:hover,
.item-menu:focus,
.item-menu:active{
  color: #2196F3;
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 3s;
}
.page{
  width: 100%;
  box-sizing: border-box;
}


.menu-open{
  display: none;
}
.footer_bg{
  width: 100%;
  background: black;
  height: 372px;
  padding-top: 60px;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
}
.a{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;;
  width: 100%;
}
.b{
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.wrap_logo{
  text-align: center;
  margin-left: -40px;
}
.footer_logo{
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #121F66;
  text-align: center;
}
.footer_logo img{
  width: 160px;
}
.footer-block{
  display: flex;
  justify-content: space-between;
}
.footer_item_menu,
.footer_item_categories{
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 4s;
}
.footer_menu_link,
.footer_categories_link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 5s;
}
.footer_menu_link:hover,
.footer_menu_link:focus,
.footer_menu_link:active,
.footer_categories_link:hover,
.footer_categories_link:active,
.footer_categories_link:focus{
  color: #2196F3;
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s;
}
.footer_navigation-menu,
.footer-contacts{
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.footer_list_menu{
  list-style: none;
}
.footer_list_categories{
  font-style: normal;
  background: none;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  list-style: none;
  text-transform: uppercase;
  max-height: 204px;
  columns: 2;
  column-gap: 15px;
}
.footer_item_categories,
.list-footer-item,
.footer_item_menu{
  margin-bottom:20px;
}
.list-footer-item{
font-size: 16px;
}
.footer_services{
  flex-wrap: wrap;
}
.footer-contacts{
  text-align: right;
}
.in_footer{
  background-color: white;
  border-radius: 8px;
}
.wrap {
  overflow-x: hidden;
}
.link_policy_text{
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 5s;
  text-decoration: underline;
}
.link_policy_text:hover{
  color: #2196F3;
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s;
}
.policy_btn_accept,
.policy_btn_reject{
  width: 210px;
  height: 40px;
  background-color: #578cc6;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 24px;
  border: #F7F7F7;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s;
  margin-right: 20px;
}
.policy_btn_accept:hover,
.policy_btn_reject:hover{
  background-color: #0056b3;
  color:  #2196F3;
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s;
}

.dropdown,
.dropdown2 {
  position: relative;
}
.dropdown-menu,
.dropdown-menu2 {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  background-color: #F7F7F7; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width:260px;
  border-radius:10px;
  transition:
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 1s, 
  font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown-menu li,
.dropdown-menu2 li {
  padding: 8px 12px;
}
.dropdown-menu li a,
.dropdown-menu2 li a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms, 
  background-color 250ms 50ms, 
  font-size 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li a:hover {
  color: #2196F3;
  cursor: pointer;
  font-size:18px;
  transition:
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 1s, 
  font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* ВАТСАП  */
#whatsapp-icon {
  position: fixed;
  top: 139px;
    left: 50px;
  z-index: 9999;
  display: flex;
  align-items: center;
}
#whatsapp-icon img {
  width: 70px;
  height: 70px;
}
#whatsapp-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#whatsapp-icon span {
  color: #122f06;
  font-size: 14px;
  background-color: rgb(150 195 166 / 60%);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: -82px;
  margin-top: 95px;
  z-index: 99999;
  font-weight: 600;
}
#close-button {
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: rgb(150 195 166 / 60%);
  color: #122f06;
  color: white;
  padding: 2px 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #000; /* Change the color as needed */
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: block; /* Make sure it's set to block to be visible */
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
  font-size: 30px; /* Increase the size of the arrow icon */
  text-align: center; /* Center the arrow icon */
  line-height: 50px; /* Adjust line height to vertically center the arrow icon */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Optional: Adds a shadow for better visibility */
}

#backToTopBtn:hover {
  background-color: #555; /* Optional: Change the hover state color */

}



@media screen and (max-width: 1600px){
.dropdown-menu{
  max-width: 160px;
}
}

@media screen and (max-width: 1400px){
.main-container {
  padding-left: 40px;
}
.item{
  margin-right: 20px;
}
}

@media screen and (max-width: 1200px){
.logo{
  margin-left: 20px;
}
.item{
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-left: 0px;
  margin-right: 10px;
}
.item-menu{
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  cursor: pointer;
  text-transform: uppercase;
  color: #353232;
}
.footer_navigation-menu, 
.footer-contacts {
  font-size: 20px;
}
.footer-contacts{
  padding-right: 70px;
}
.dropdown-menu{
  max-width: 120px;
}
.footer_logo img {
    width: 150px;
}
}
@media screen and (max-width: 1015px){
.main-container{
	padding-left:20px;
}
.footer_bg {
  padding-right: 0px;
  padding-left: 100px;
}
}

@media screen and (max-width: 900px){
.logo_img {
  width: 150px;
}
.navigation-menu {
  width: 100%;
}
.list{
  display: flex;
  justify-content: space-around;
}

.footer_bg {
    padding-left: 40px;
}
}

@media screen and (max-width: 768px){
.logo_img {
  width: 110px;
  padding-right: 10px;
}
.item-menu {
  font-size: 12px;
}
.mob-container{
  display: none;
}
.logo {
margin-left: 0px;
}
.img1 img {
    height: 400px;
}
.footer_bg {
    height: 340px;
}
.footer-contacts {
  padding-right: 50px;

}
.dropdown-toggle {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.dropdown-toggle2 {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
.dropdown-menu{
  font-size: 14px;
}

/* ВАТСАП  */
#whatsapp-icon {
  top: 80px;
    left: 20px;
}
#whatsapp-icon img {
  width: 60px;
  height: 60px;
}
#whatsapp-icon span {
  font-size: 14px;
  margin-right: -76px;
  margin-top: 74px;
}
#close-button {
  font-size: 12px;
}
}

@media screen and (max-width: 669px){
.footer_bg {
  height: 618px;
  padding-right: 50px;
  padding-left: 50px;
}
.footer-block {
    flex-wrap: wrap;
}
.footer_services {
 padding-left: 50px;
 padding-right: 50px;
}
.b{
  justify-content: space-around;
}
.footer-contacts {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;

}
.footer_list_menu {
    text-align: center;
}
.footer-contacts {
    text-align: center;
}
}
@media screen and (max-width: 540px){
.navigation-menu{
  display: none;
  margin-left: auto;
}
.logo{
  display: block;
  order: 2;
  margin-left: 0px;
}
.logo_img {
  width: 120px;
  padding-right: 0px;
}
.main-container {
  margin-right: 30px;
}
.modal-content_main {
  width: 260px;
}
.mob-container{
  display: block;
  padding-left: 25px;
  padding-right: 20px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  z-index: 10;
}
.menu-open{
  display: block;
  background-color: transparent;
  border: none;
  padding-right: 0px;
  order: 3;
  padding-bottom: 30px;
}
.mob-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color:#ffffff;
  top: 0;
  padding-top: 20px;
}
.mob-wrapp{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-close{
  background-color:transparent;
  border:none;
  margin-left: auto;
  display: block;
  margin-right: 10px;
}
.mob-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  padding-left: 40px;
  list-style: none;
  justify-content: space-between;
}
.mob-list_item {
  margin-bottom: 32px;
}
.text_cir{
  font-weight: 600;
}
.img1 img {
    height: 300px;
}
.have_account_main {
  padding-top: 10px;
}
.footer_bg {
  height: 710px;
  padding-right: 20px;
  padding-left: 20px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.footer_services {
  padding-left: 0px;
  padding-right: 0px;
}
.footer_navigation-menu {
  margin-top: 20px;
  text-align: center;
}
.footer_list_categories {
  text-align: center;
}
.footer-contacts {
  text-align: center;
}
.footer_logo{
  padding-bottom: 10px;
}
.a {
	display: block;
  width: 100%;
}
.b {
  display: block;
 }
.footer_list_categories {
  columns: 1;
  height: auto;
  max-height: 100%;
}
.wrap_logo {
  max-width: 100%;
  margin-left: 0px;
}
.policy_btn_accept,
.policy_btn_reject{
  margin-right: 0px;
  margin-bottom: 20px;
}
.dropdown-menu2 {
  margin-top: 10px;
  max-width: 200px;
  left: 0px;
}
.dropdown-menu, .dropdown-menu2 {
  left: 0px;
}
.main-container {
    margin-bottom: 0px;
}
.footer_navigation-menu, .footer-contacts {
    padding-bottom: 0px; 
}
}
@media screen and (max-width: 320px){
.mob-container{
  max-width: 320px;
  height: 100%;
}
.logo{
  width: 120px;
}
.logo_img {
  width: 120px;
}
.img1 {
  width: 320px;
  height: 267px;
  margin: 0 auto;
  text-align: left;
}
.menu-open {
  padding-right: 0px;
}
.menu-close {
  margin-right:10px;
}
.footer_navigation-menu {
  margin-left: 0px;
}
.footer_list_categories {
  columns: 1;
  height: auto;
max-height: 100%;
}
.footer_logo{
  margin-left: 0px;
}
.footer-contacts {
  padding-left: 0px;
}
#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #000; /* Change the color as needed */
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: block; /* Make sure it's set to block to be visible */
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
  font-size: 30px; /* Increase the size of the arrow icon */
  text-align: center; /* Center the arrow icon */
  line-height: 50px; /* Adjust line height to vertically center the arrow icon */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Optional: Adds a shadow for better visibility */
}

#backToTopBtn:hover {
  background-color: #555; /* Optional: Change the hover state color */
}
}

